body{
    margin-left: 250px;
    margin-right: 250px;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: center;
    background-color: burlywood;

}
nav div {
    width: 50%;
}

.navItems{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItems p{
    margin: 0 20px 0 20px;
    font-size: 100%;
}

.navTitle{
    margin: 0 auto;
    width: fit-content;
}

.navTitle h1{
    margin: 10px 0;
}

.container img{
    width: 100%;
}

.navItems p:hover{
    color: gray;
    text-shadow: none;
}

.navItems p:hover{
    color: white;
    text-shadow: 2px 2px 2px white;
    padding: 0 0 0 15px;
}


